@CHARSET "UTF-8";

#secureCheckoutForm,#paymentFormHeader,#paymentInfoHeader,#billingInfoHeader,.messageBox,#transactionInformation,#billingInformation,#submitButton
	{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#secureCheckoutForm {
	width: 100%;
	max-width: 700px;
	background-color: #EDEDED;
	border: 1px solid #CDCDCD;
	border-radius: 5px;
}

#merchantLogoBox,#mesLogoBox,#pageFooter {
	width: 100%;
	text-align: center;
	margin-top: 6px;
}

#verisignLogoBox {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
}

#paymentFormHeader {
	width: 600px;
	margin-bottom: 12px;
}

#paymentInfoHeader,#billingInfoHeader {
	width: 600px;
	margin-bottom: 4px;
	text-align: center;
	border: #666666 1px solid;
}

#transactionInformation,#billingInformation,#submitButton {
	width: 600px;
	margin-bottom: 12px;
	border: 1px solid #666666;
}

.formHeader {
	font-weight: bold;
	font-size: 12pt;
	font-family: Verdana, Tahoma, Arial;
	text-decoration: none font-style:        normal;
	text-align: center;
}

.formSectionHeader {
	width: auto;
	font-weight: bold;
	font-family: verdana, helvetica, sans-serif;
	text-align: center;
}

.smallText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 7pt;
	line-height: 9pt;
	text-align: left;
}

.formLabelText {
	font-weight: normal;
	font-size: 8pt;
	font-family: Verdana, Tahoma, Arial;
	text-decoration: none;
	text-align: right;
	width: 45%;
	vertical-align: bottom;
}

.formDataText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 8pt;
	text-decoration: none;
	text-align: left;
	width: 55%;
}

.buttonText {
	font-weight: normal;
	font-size: 8pt;
	font-family: Verdana, Tahoma, Arial;
	text-decoration: none;
	text-align: center;
}

/* Error messages */
.messageBox {
	width: 600px;
	margin-bottom: 12px;
	border: #666666 1px solid;
	text-align: center;
}

.errorMessage {
	padding-top: 30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: red;
}

.errorText {
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin: 8px;
}

/* Receipt Page */
#summaryTable {
	
}

#summaryMerchantLogo {
	
}

#summaryColumnHeader {
	background-color: #CCCCCC;
	margin-top: 6px;
	font-weight: bold;
}

#summaryTableData {
	
}

.summaryLabelText,.summaryDataText {
	background-color: #DDDDDD;
}

.summaryLabelText {
	width: 30%;
}

.summaryDataText {
	width: 70%;
}