.asset {
    clear:both;
    padding:10px;
    border:1px solid #CCC;
    margin-top:5px;
    margin-bottom:5px;
    overflow:hidden;
    background: #EFEFEF;
    border-radius: 5px;
}

.asset > .asset_image {
    margin-right:10px;
}
.asset > .asset_title {
    margin-right:20px;
}
.asset > .asset_title > h4 {
    line-height:30px;
}

.asset > .asset_primary {
    line-height: 30px;
    vertical-align: middle;
    margin-left: 20px;
}

.asset > .asset_primary > h5 {
    line-height: 30px;
    margin-right: 10px;
}
