#body {
  margin-top: 60px;
}

.error {
  color:red;
}

.opened {
  background-image: url('/media/admin/img/tool_font_minus.gif') !important;
  background-position: 1px 3px;
  background-repeat: no-repeat;
}

.trigger {
  background-image: url('/media/admin/img/tool_font_plus.gif');
  background-position: 1px 3px;
  background-repeat: no-repeat;
}
.level1 {
  color:orange;
}
.level2 {
  display:none; 
}
.level3 {
  display:none;
}

.form_field {
  margin-top:15px;
  margin-bottom:15px;
}

.pagination ul {
  margin-top:0px;
}

.decent_inline {
  padding-left:7px;
  margin-right:7px;
}