.blog_post_item {
    position:relative;
/*     margin-top: 60px; */
}

a.filter_selected {
    color:white;
    background:#CCC;
    border-radius:5px;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
}

.blog_filter a {
    margin-left: 20px;
}

.blog_bubble {
    left:86%;
    position:absolute;
    top: -13px;
}

.blog_read_more {
    width:410px;
}

.post_box {
/*     margin-bottom: -40px; */
	padding: 12px 20px 12px 40px;
}

/* .post_box:last-child { */
/*     margin-bottom: 0px; */
/* } */

.blog_events_title, .blog_news_title, .blog_press_title {
    background-size:auto;
}

.blog_header_title {
    font-size:21px;
}

.blog_events_title, .blog_events_title a {
    color: #EC4B51;
}

.blog_news_title, .blog_news_title a {
    color: #56B3CA;
}

.blog_press_title, .blog_press_title a {
    color: #EB9B33;;
}