#footer_navbar {
    background:#111111;
    margin-bottom:0px;
}

.footer_container {
    background:#2b2b2b;
}

#footer_navbar .navbar-inner {
    background:#111111;
    background-image:none;
}

#footer_navbar .nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    border-right: 1px solid #999;
    margin-top: 10px;
}

#footer_navbar .nav > li:last-child > a {
    border-right: 0px;
}

.footer_header {
    font-size:17px;
}

.footer_news_item, .footer_news_item a {
    color: #56B3CA;
    font-size: 14px;
    margin-top: 14px;
    margin-bottom:0px;
}

.footer_icon {
    width: 30px;
    margin-right: 10px;
}

.footer_divider {
    background-image: url('/media/customer/img/footer_divider.png');
    height: 20px;
    background-size: contain;
    margin-top: 20px;
    border-top: 4px solid #EDEDED;
}

.footer_container input {
    margin-top: 5px;
    color: black;
    width:95%;
}

.footer_left_box {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.footer_middle_box {
    background: #333;
    padding: 20px;
}


