#header_navbar {
    margin-bottom:0px;
    
}

.header_pinstripe {
    background-image: url('/media/customer/img/header_pinstripe.jpg');
    height:22px;
    background-repeat:repeat-x;
}

header {
    position: absolute;
    z-index: 50000;
    min-width:940px;
    width: 100%;
    top:0;
}

.header_navbar_inner {
    background-image: url('/media/customer/img/header_footer_bg.jpg') !important;
    height: 41px;
    line-height: 41px;
    padding-left: 0px;
    padding-right: 0px;
	border-top:21px solid white !important;
	border-left: 0px;
	border-right: 0px;
}

.navbar > .header_navbar_inner > div > ul.nav.pull-right {
    height: 74px;
}

.navbar > .header_navbar_inner > div > ul.nav.pull-right > li {
    height:41px;
}

.navbar > .header_navbar_inner > div > ul.nav.pull-right > li > a {
    bottom:0;
    line-height:25px;
    color:#dddddd;
    font-weight:500;
    font-size: 17px;
}

.navbar > .header_navbar_inner > div > .nav .dropdown-toggle .caret {
    bottom: 15px;
    position: absolute;
    right: -1px;
}

.navbar > .header_navbar_inner > ul.nav.pull-right > li.divider-vertical {
    border-right-color: #464546;
    border-left-color: #3a3b3b;
}

.adl_li {
    width: 85px;
    text-align: center;
    background: #363838;
    padding-left: 10px;
    border-left: 2px solid #464546;
    border-left-color: #464546;
    padding-right: 20px;
    margin-left: 15px;
    margin-right:0px;
}

.dropdown-menu a {
    text-align:left;
}

#header {
    padding-top: 35px;
    padding-bottom: 30px;
}

.logo {
	background-image: url('/media/customer/img/header_footer_bg.jpg') !important;
    width: 165px;
	margin-top: -21px;
	padding: 10px 20px 22px 20px;
	z-index:60000;
	background-size:cover;
}

.adl_logo {
	background-image: url('/media/customer/img/header_footer_bg.jpg') !important;
	background-size:cover;
    width: 165px;
	margin-top: -21px;
	padding: 14px 20px 14px 20px;
	z-index:60000;
}

.white_bar {
	background-color:white;
}
