
body {
    background-color: #F1F1F1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body td {
	font-size: 90%;
}

.smallText {
	font-size: 80%;
}

.formSectionHeader {
	font-size: 1.3em;
	padding: 5px 0;
	background-color: #e3e3e3;
	margin: 4px 0 6px;
}

#merchantLogoBox {
	position: absolute;
	z-index: 5;
	text-align: center;
	width: 100%;
}

#merchantLogoBox img {
	width: 200px;
	margin: 10px 510px 0 0;
}

#secureCheckoutForm, #pageFooter {
  margin-left:   auto;
  margin-right:  auto;
  text-align:    center;
  width:         600px;
  padding: 0 40px;
  border-left: 4px solid #d9d9d9;
  border-right: 5px solid #d9d9d9;
  background-color: #fff;
}

#BCLDplugins, #BCLDGuidDiv, #BCLDflashplayer {
    display: none
}

#paymentFormHeader {
    width: 100%;
    position: absolute;
    left:0;
    background: #3c3c3c;
    background: -moz-linear-gradient(top, #3c3c3c 53%, #222222 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#3c3c3c), color-stop(100%,#222222));
    background: -webkit-linear-gradient(top, #3c3c3c 53%,#222222 100%);
    background: -o-linear-gradient(top, #3c3c3c 53%,#222222 100%);
    background: -ms-linear-gradient(top, #3c3c3c 53%,#222222 100%);
    background: linear-gradient(to bottom, #3c3c3c 53%,#222222 100%);
    border-top: 6px solid #515151;
    width: 100%;
    height: 5em;
}

#paymentFormHeader p {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #E8E8E8;
	font-size: 1.4em;
	width: 510px;
	margin: 43px auto 0;
	padding-left: 240px;
}

#paymentFormHeader + div {
    padding-top: 6.5em;
}

tr:nth-child(4) .formLabelText:before {
    content: "Credit/Debit Card Number";
    color: black;
    font-size: 15px;
    display: inline;
}

tr:nth-child(4) .formLabelText {
    color: white;
    font-size: 1px;
}