.about_header {
	height:50px;
/* 	background-image:url('/media/customer/img/header_stripes.png'); */
/* 	background-size:contain; */
/* 	background-color:#9A111F; */
	background-color: #787878;
	line-height:50px;
	color:white;
	padding: 1px 0px 1px 25px;
	margin-bottom:1px;
	margin-top:0px;
}

.about_description {
	padding:10px 30px 10px 30px;
	background-color:#ededed; 
}
.exec_description {
	background-color:#ededed; 
	min-height:330px;
}
.exec_image {
	margin-top: 23px;
    margin-right: 20px;
    overflow: hidden;
    max-height: 390px;
    max-width: 260px;
    margin-bottom: 5px;
    float: left;
}
.exec_content {
	padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 25px;
}

.exec_header {
/* 	background-image:url('/media/customer/img/header_stripes.png'); */
/* 	background-size:contain; */
/* 	background-color:#9A111F; */
	background-color: #787878;
	height:30px;
	line-height:1.5;
	color:white;
	margin-bottom:20px;
	text-align:center;
}

.exec_title {
	color:#9a1c22;
	margin-top: -15px;
	margin-bottom: 20px;
}

.board_title {
	color: #9a1c22;
}

.investor_header {
/* 	height:10px; */
/* 	background-image:url('/media/customer/img/small_white_grey_stripe.jpg'); */
/* 	background-size:contain; */
	border: 1px solid #555;
}

/* .investor_image { */
/* 	max-width:85%px; */
/* 	margin-top:80px; */
/* } */

.investor_box {
	height:250px;
	padding-top:15px;
	color:#555555;
}

.investor_text {
	padding-top:36px;
}
.blog_news_title {
	color:#eb9b33;
	height:50px;
	background-image:url('/media/customer/img/lrg_grey_white_stripe.jpg');
	background-size:contain;
	overflow:hidden;
}

.blog_events_title {
	color:#ec4b51;
	height:50px;
	background-image:url('/media/customer/img/lrg_grey_white_stripe.jpg');
	background-size:contain;
	overflow:hidden;
}

.blog_press_title {
	color:#56B3CA;
	height:50px;
	background-image:url('/media/customer/img/lrg_grey_white_stripe.jpg');
	background-size:contain;
	overflow:hidden;
}

.post_box {
/* 	background-color:#eeeeee; */
/* 	padding:15px 25px 25px 25px; */
/* 	overflow:hidden; */
}

.date_info {
/* 	margin-bottom:15px; */
	font-size: 0.9em;
	color: #A92F42;
	font-weight: bold;
}
.blog_filter a {
	color:#4aa4ba;
	margin-left:10px;
/* 	font-size:28px; */
	font-size: 18px;
}
.blog_header_title {
/* 	margin-left:25px; */
/* 	line-height:35px; */
}

.blog_bubble {
	position: relative;
	top: 62px;
	z-index: 20;
	height: 75px;
	left: 89%;
}

.blog_read_more {
	margin-top: 33px;
	height: 15px;
	width: 500px;
/* 	background-image:url('/media/customer/img/gray_stripes_no_background.png'); */
/* 	background-size:contain; */
	background-color: #ddd;
}

.blog_read_more_button {
	margin-top:25px;
	float:right;
	margin-left:50px;
}

.blog_full_bubble {
	position: relative;
	top: 62px;
	z-index: 20;
	height: 75px;
	left: 89%;
}

.blog_search_box, .gray_box {
	background-color:#ededed;
	margin-bottom:15px;
}
.blue_white_stripe_header, .blue_white_stripe_header_large , .red_white_stripe_header {
/* 	background-image: url('/media/customer/img/header_stripes.png'); */
/* 	background-size:contain; */
/* 	background-color:#9A111F; */
	background-color: #787878;
	height:50px;
	color:white;
	padding-left:10px;
	margin-top:11px;
}

.blue_white_stripe_header_large {
	height:55px;
	padding-top:1px;
}
.blue_white_stripe_header h4, .red_white_stripe_header h4 {
	line-height:47px;
	margin:0;
}

.blue_white_stripe_header h3, .red_white_stripe_header h3 {
	line-height:23px;
	
}

.blue_white_stripe_header h5, .red_white_stripe_header h5 {
	line-height:35px;
	float:left;
	
}
.red_white_stripe_header {
/* 	background-color:#CEB98E; */
	margin-top: 0;
}

.step_box_header {
	background-color:#9A111F;
	padding:5px 5px;
	width:172px;
	

}

.step_box {
	padding-top:10px;
	text-align:center;
	background-color:#eeeeee;
	min-height:180px;
	position:relative;
	padding:5px 5px;
	width:172px;
	background: rgb(238, 238, 238);
	background: rgba(238, 238, 238, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.step_box_image {
	position:absolute;
	bottom:0;
	left:0px;
}

.step_read_more {
	position: absolute;
	bottom: -30px;
	z-index: 20;
	height: 70px;
	right: 31%;
}

.step_read_more_patients {
    position: absolute;
    bottom: -18px;
    z-index: 20;
    height: 44px;
    right: 70px;
}

.steps_video_header {
	background-color:#eeeeee;
}


.pulse_header {
/* 	background-color:#9A111F; */
	background-color: #797979;
	color:white;
/* 	background-image:url('/media/customer/img/header_stripes.png'); */
	background-size:contain;
	position:relative;
}

.pulse_header img {
	display: none;
}

.pulse_header h4, .steps_video_header h4 {
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
}
.pulse_item {
	padding-left:10px;
	padding-right:10px;
	background-color:#eeeeee;
	overflow:hidden;
}

.pulse_container {
	overflow-y:scroll;
	overflow-x:hidden;
	max-height:317px;
}

.pulse_content {
    margin-left: 65px;
}

.pulse_content h4 {
    font-size:12px;
    line-height:17px;
}

.pulse_image {
	float:left;
	width:50px;
	padding:2px;
	margin-top:7px;
	margin-right: 10px;
}
.float_left {
	float:left;
	margin-bottom:20px;
	margin-right:7px;
}

.float_left 
.red_header {
	color:#9A111F;
}

.next_step {
	margin-top:10px;
	text-align:center;
}
.box_header {
	background-color:#9A111F;
	background-image:url('/media/customer/img/header_stripes.png');
	background-size:contain;
	color:white;
}
.box {
	position:relative;
	background-color:#eeeeee;
	text-align:center;
	min-height:330px;
	margin-bottom:30px;
}

.hompage_padder {
	padding:15px;
}
.footer_divider {
	background-image:url('/media/customer/img/footer_divider.png');
	height:20px;
	background-size:contain;
	margin-top:70px;
}

footer {
	background-color:#2B2B2B;
	min-width:960px;
}

.navbar-inner {
	border-radius:0 !important;
	moz-border-radius:0 !important;
	webkit-border-radius:0 !important;
	background-color:#323132;
}

.footer_header {
	font-weight:100;
	color:#767676;
	font-size:23px;
}

.footer_icon {
	width:45px;
	margin-right:10px;
}
.footer_container {
	background-color:#323132;
}

.footer_subscribe {
	margin-top:10px;
	margin-bottom:10px;
}

.footer_container  input {
	margin-top:5px;
	color:black;
}

.dotted {
/* 	background-image:url('/media/customer/img/small_dots.png'); */
/* 	background-size:contain; */
	height: 3px;
	margin-top: 10px;
	margin-bottom: 25px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(133, 133, 133, 0.5);
	box-shadow: 0px 2px 0px rgba(192, 192, 192, 0.5);
}

.footer_tip {
	padding-top:50px;
	padding-bottom:50px;
	color:#56b3ca;
	font-size:16px;
	line-height:1;
	
}

.footer_news_item,  .footer_news_item a{
	color:#56b3ca;
	font-size:20px;
	margin-top:14px;
	margin-bottom:25px;
}

.box_header > h4 {
	text-align: center;
	padding: 12px 5px 8px 5px;
}

.header_bar {
	height: 30px;
	margin-top: -25px;
	background-image: url('/media/customer/img/gray_stripe_clear_bg.png');
/* 	background-size: contain; */
	background-size: 2.1%;
}

.site_title {
	font-size: 28px;
	z-index:25;
	text-transform:uppercase;
/* 	background-color:white; */
	background-position:center;
	background-size:cover;
	font-weight: 600;
	text-rendering: optimizelegibility;
}

#header {
	
}
.aviir_pagination {
	margin-top:10px;
}
.aviir_pagination ul {
	 list-style-type: none;
	 text-align:center;
}

.search_header, .header_blue {
/* 	background-image: url('/media/customer/img/header_stripes.png'); */
/* 	background-size:contain; */
/* background-color:#9b1c22; */
	background-color: #787878;
	height:50px;
	color:white;
}

.search_header img, 
.header_blue img,
.red_white_stripe_header img {
	display: none;
}

.header_blue {
/* 	background-color:#9A111F; */
	background-color: #787878;
}

.header_blue h3,.header_blue h4 {
	padding-left:10px;
}

.gray_box {
	padding:10px;
	min-height:200px;
	
}

.search_header h3 {
	padding-left:10px;
}
.search_box {
	background-color:#ededed;
	margin-top: -20px;
}

.search_box_interior {
	padding:10px;
}

.search_box_interior input[type="submit"] {
	text-align:center;
}
.psc_box {
	padding:10px;
	font-size:18px;
}

.contact_box {
	position: relative;
    margin-bottom: 30px;
}

.contact_box dl {
	margin-left:-97px;
}
.contact_box dd, dt {
	padding-top:10px;
}
.contact_bubble {
	position: absolute;
    z-index: 4;
    left: 105px;
    width: 80px;
    bottom: -35px;
}

.page_title_non_header {
	font-size:28px;
	font-weight:bold;
}

.header_navbar_inner {
	background-image:url('/media/customer/img/header_footer_bg.jpg') !important;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background-color:transparent;
}
.btn-brown {
	  background-color: #CEB98E !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e0d2b7", endColorstr="#bb9d61");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#e0d2b7), to(#bb9d61));
	  background-image: -moz-linear-gradient(top, #e0d2b7, #bb9d61);
	  background-image: -ms-linear-gradient(top, #e0d2b7, #bb9d61);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e0d2b7), color-stop(100%, #bb9d61));
	  background-image: -webkit-linear-gradient(top, #e0d2b7, #bb9d61);
	  background-image: -o-linear-gradient(top, #e0d2b7, #bb9d61);
	  background-image: linear-gradient(#e0d2b7, #bb9d61);
	  border-color: #bb9d61 #bb9d61 hsl(40, 40%, 50%);
	  color: #fff !important;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.39);
	  -webkit-font-smoothing: antialiased;
}

.btn-red {
	 background-color: #9A111F !important;
 	 background-repeat: repeat-x;
  	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d3172a", endColorstr="#640b14");
 	 background-image: -khtml-gradient(linear, left top, left bottom, from(#d3172a), to(#640b14));
 	 background-image: -moz-linear-gradient(top, #d3172a, #640b14);
 	 background-image: -ms-linear-gradient(top, #d3172a, #640b14);
 	 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d3172a), color-stop(100%, #640b14));
 	 background-image: -webkit-linear-gradient(top, #d3172a, #640b14);
 	 background-image: -o-linear-gradient(top, #d3172a, #640b14);
 	 background-image: linear-gradient(#d3172a, #640b14);
 	 border-color: #640b14 #640b14 hsl(354, 80%, 16%);
 	 color: #fff !important;
 	 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
 	 -webkit-font-smoothing: antialiased;
}

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
} 

.adl_search_header {
	color:white;
	background-color:#cccccc;
	min-width:75px;
	font-weight:bold;
	border-bottom: 5px solid white;
	border-right:1px solid white;
}

.search .adl_search_table .test_code {
/* 	background-color:#e4e0e0 !important; */
	color:#A71D34;
	font-weight:bold;
}

.adl_search_table {
	margin-top:10px;
}
.adl_search_table thead {
	margin-bottom:10px;
}

.adl_search_table tbody td {
	background-color:#f8f8f8;
	border-top:2px solid white;
}

.adl_search_table .test_row,
.red_white_stripe_header {
	position: relative;
	margin: 0 0 6px;
	color: #666666;
	text-decoration: none;
	background-color: #f6f6f6;
	display: block;
	font-size: 16px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 10px 5px 10px 55px;
	line-height: 20px;
/* 	overflow-y: hidden; */
/* 	width: 100%; */
}

.adl_search_table tbody td:first-child, 
.adl_search_table tbody td:last-child {	
	text-align: center;
}
	
	
.alpha_header {
	font-size: 24px;
	color: black;
	padding-right: 10px;
	font-weight: bold;
	line-height:1;
}

.alpha_list {
	margin-top:2px;
}
.adl_search_filter_tag {
	color:#868686;
	font-weight:bold;
}

.filter_span {
	margin-bottom:10px;
}

.pro_page_box_header {
	background-color: #9A111F;
	background-image: url('/media/customer/img/header_stripes.png');
	background-size: contain;
	text-align: center;
	color: white;
	padding: 5px 5px;
	width: 172px;
	min-height: 61px;
}
.pro_page_box {
	padding-top: 10px;
	text-align: center;
	background-color: #eeeeee;
	padding: 5px 5px;
	width: 172px;
	position:relative;
/* 	min-height:180px; */
}

.pro_page_box_image {
	position: absolute;
	bottom: 0;
	left: 0px;
}

.pro_page_header {
	background-color:#9A111F;
	background-image: url('/media/customer/img/header_stripes.png');
	background-size:contain;
	text-align: center;
	color:white;
	padding:5px 5px;
	width:160px;
}

.page_read_more {
	position: absolute;
	bottom: -140px;
	z-index: 20;
	height: 55px;
	right: 41%;
}

.error {
	color:red;
}

.step_text_overlay {
	position: relative;
	top: -14px;
	z-index: 50;
	color: white;
	font-size: 26px;
	font-weight: bold;
	left: 83px;
	-webkit-font-smoothing: antialiased;
}

.step_step_box {
	padding-top: 10px;
	text-align: center;
	background-color: #eeeeee;
	min-height: 60px;
	position: relative;
	padding: 5px 5px;
	width: 172px;
	background: rgb(238, 238, 238);
	background: rgba(238, 238, 238, 0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.step_step_box h4 {
	
}
.step_text_overlay_read {
	position: relative;
	top: -7px;
	z-index: 50;
	color: white;
	font-size: 9px;
	font-weight: bold;
	left: 83px;
	-webkit-font-smoothing: antialiased;
}

.pulse_content a {
	color:black;
}

.carousel .active {
	max-height:430px !important;
}

.home_read_more {
	position: absolute;
	bottom: -8%;
	z-index: 20;
	height: 75px;
	right: 36%;
}

.step_text_home_overlay_read {
	position: relative;
	top: -19px;
	z-index: 50;
	color: black;
	font-size: 13px;
	font-weight: bold;
	left: 29%;
	-webkit-font-smoothing: antialiased;
}

.btn-blue {
	  background-color: hsl(193, 52%, 46%) !important;
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7bc1d5", endColorstr="#3897b2");
	  background-image: -khtml-gradient(linear, left top, left bottom, from(#7bc1d5), to(#3897b2));
	  background-image: -moz-linear-gradient(top, #7bc1d5, #3897b2);
	  background-image: -ms-linear-gradient(top, #7bc1d5, #3897b2);
	  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7bc1d5), color-stop(100%, #3897b2));
	  background-image: -webkit-linear-gradient(top, #7bc1d5, #3897b2);
	  background-image: -o-linear-gradient(top, #7bc1d5, #3897b2);
	  background-image: linear-gradient(#7bc1d5, #3897b2);
	  border-color: #3897b2 #3897b2 hsl(193, 52%, 41%);
	  color: white !important;
	  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
	  -webkit-font-smoothing: antialiased;
}

.aviir_pagination li {
	float:left;
}

.homepage_box {
	float:left;
	width:266px;
	margin-right:70px;
}

.homepage_box:last-child {
	margin-right:0px;
	margin-left:2px;
}

.homepage_box:first-child {
	margin-left:12px;
}

.float_left:last-child {
	margin-right:0px;
	margin-left:2px;
}
.maps_box_icon {
	width: 40px;
	float: left;
	margin-top: 6px;
	margin-left: 10px;
	margin-right: 4px;
}

.test_tubes_box_icon {
	width: 40px;
	float: left;
	margin-top: 6px;
	margin-left: 36px;

}

.paper_icon {
	width: 35px;
	float: left;
	margin-top: 6px;
	margin-left: 36px;
}

.gray-button {
	background-color:#eeeeee;
	padding:15px 25px;
	text-align: center;
	width:185px;
	color:gray;
}

.board_description {
	background-color:#eeeeee;
}

.quotes {
	width:25px;
}

.dl-horizontal dd {
	margin-left:162px;
}

.btn {
    filter:progid:DXImageTransform.Microsoft.Gradient(enabled='false');
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-image:none;
    border:0;
}

#body {
	margin-top:76px;
}

.pulse_header_image_pro {
	position: absolute;
	width: 50px;
	right:0;
}

.pulse_header_image_pat {
	position: absolute;
	width: 50px;
	right: 481px;
	bottom: 83px;
}

.pulse_header_image_adl {
	position: absolute;
	width: 50px;
	right: 0;
}
.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a  {
	background-image: none;
	background-color:#9A111F; /*!important;*/ 
}
