/* @import url(http://fonts.googleapis.com/css?family=Quattrocento:400,700); */
/* @import url(http://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700); */

#body p,
#body li {
/* 	font-family: Quattrocento; */
}


/* IE 8 html.lt-ie9 */

.lt-ie9 {
	
}

.lt-ie8 .chromeframe-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
	filter: alpha(opacity=70);
	z-index: 3;
}

.lt-ie8 {
	text-align: center;
}

#ie7-suggestion {
	width: 100%;
	top: 150px;
	position: fixed;
	z-index: 99;
}

.lt-ie8 .chromeframe {
/* 	display: block; */
	filter: alpha(opacity=100);
	background-color: #fff;
	padding: 30px 20px;
	border: 2px solid black;
	width: 450px;
/* 	text-align: center; */
/* 	top: 280px; */
}

#responsive-indicator {
	height: 25px;
	width: 100%;
	position: fixed;
	z-index: 1337;
	bottom: 0px;
	border-width: 3px;
	background-color: #000;
	opacity: 0.6;
}

	html #main-content,
	html #header-wrapper,
	html #header {
/* 	-webkit-transition: all 1s ease-in-out; */
-webkit-transition: all 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
   -moz-transition: all 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
    -ms-transition: all 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
     -o-transition: all 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715); 
        transition: all 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */

-webkit-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
   -moz-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
    -ms-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
     -o-transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); 
        transition-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715); /* easeInSine */
}

html #main-content {
	padding: 0px 6px 0px 6px;
}

	html .rsOverflow.grab-cursor {
		-webkit-transition: all 0.4s ease-in-out;
	}

html #slideshow-wrapper > * {
	-webkit-transition: none;
}

@media (min-width: 1200px) {
#responsive-indicator {	background-color: purple; }
}

@media (min-width: 979px) and (max-width: 1199px) {
#responsive-indicator {	background-color: blue; }

}

@media (max-width: 979px) {
#responsive-indicator {	background-color: darkgreen; }
}

/* 979px */
@media (min-width: 768px) and (max-width: 979px) {
#responsive-indicator {	background-color: lime; }
	
	html #right-all-bg, html #left-all-bg {
/* 		width: 768px; */
	width: 100%;
	}
	
/* 	html .royalSlider, */
/* 	html .rsOverflow { */
/* 		height: 310px; */
/* 	} */
	
	html #navigation {
		height: 4em;
	}
	
	html #slideshow {
/* 		height: 318px;	 */
	}
	
	html #navigation #site-logo {
		padding: 0 0.5em;
	}
	
	/*&&& GREEN NAV WIDTH occupies full screen width, change to fixed width?*/
	html #header {
/* 		width: 768px; */
		width: 100%;
	}
	
	html #navigation ul li a {
		line-height: 6em;
		font-size: 0.9em;
		height: 4.7em;
	}
	
	html #content {
		padding-top: 60px;
	}
	
	html .box-column h2{
		font-size: 1.1em;
		line-height: 120%;
	}
	
	html .box-column h3, html #footer h3 {
		font-size: 1em;
	} 
	
	html #footer h3 {
		padding-right: 10px;
	}
	
	html #footer h4 {
		font-size: 1.1em;
		padding-top: 15px;
	}
	
	html .social_sprites a {
		margin-left: 2px;
	}
	
	html #footer p {
		font-size: 1em;
		line-height: 1.4em;
	}
	
	
	html #footer_dropshadow_left {
		padding-left: 10px;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
#responsive-indicator {	background-color: yellow; }
	
	html .container {
		width: 100%;
	}
	
		html #right-all-bg, html #left-all-bg {
/* 		max-width: 768px; */
		width: 100%;
	}
	
/* 	html .royalSlider, */
/* 	html .rsOverflow { */
/* 		height: auto; */
/* 	} */
	
	html #navigation #site-logo {
		padding: 0 0.5em;
		width: 145px;
	}
	
/* 	html #slideshow { */
/* 		height: 203px; */
/* 	} */
	
	html #header {
/* 		width: 480px; */
/* 		width: 100%; */
	}
	
	html #navigation {
		height: 4em;
	}
	
	html #navigation ul {
		font-size: 90%;
	}

	html #navigation ul li a {
		line-height: 6.5em;
		font-size: 0.9em;
		padding-right: 15px;
	}
	
	html #navigation ul li a span {
		padding-left: 15px; 
	}
	
	html body #navigation ul li:last-child div{
		right: 214%;
}

	html body #navigation ul li:last-child .dropdown-caret {
		left: 202%;
	}
	
/* 	html #content { */
/* 		padding-top: 60px; */
/* 	} */
	
	html .box-column h2{
		font-size: 1em;
		line-height: 120%;
	}
	
	html .box-column h3, html #footer h3 {
		font-size: 1em;
	} 
	
	html #footer h3 {
		padding-right: 10px;
	}
	
	html #footer h4 {
		font-size: 1.1em;
		padding-top: 15px;
	}
	
	html .social_sprites a {
		margin-left: 2px;
	}
	
	html #footer p {
		font-size: 1em;
		line-height: 1.4em;
	}
	
	
	html #footer_dropshadow_left {
		padding-left: 10px;
	}
	
	html .span12 {
		width: 100%;
	}
	
}


@media (min-width: 480px) and (max-width: 575px) {
#responsive-indicator {	border-top:5px solid orange; }
	
	html #navigation .nav {
		display: none;
	}
	
	html #dropdown-nav {
		display: block;
	}
	
	html #dropdown-nav {
		padding-top: 14px;
		float: right;
		padding-right: 6px;
	}
	
	html #dropdown-nav select {
		width: 320px;
	}
	
}

@media (min-width: 321px) and (max-width: 480px) {
#responsive-indicator {	background-color: orange; }

	
	html #navigation #site-logo {
		margin: 0 auto 0px;
		width: 62%;
	}
	
	html #dropdown-nav {
		display: block;
	}
	
	html #right-all-bg, html #left-all-bg {
		width: 479px;
	}
	
/* 	html .royalSlider, */
/* 	html .rsOverflow { */
/* 		height: 210px; */
/* 	} */
	
	html #slideshow {
/* 		height: 202px; */
	}
	
	html .rsArrowIcn {
		display: none;
	}
	
	html .container {
		width: 479px;
	}
	
	html #navigation {
		height: 11.5em;
	}
	
	html #navigation .nav {
		display: none;
	}
	
	html #navigation #site-logo {
		float: none;
		padding: 5px 0 10px;
	}
	
	html .row-fluid [class*="span"], html .row-fluid [class*="span"]:first-child {
		float: none;
		margin-left: auto;
	}
	
	html .row-fluid .span4 {
		width: 380px;
		margin: 20px auto;
	}
	
	#navigation #dropdown-nav {
		margin: 0 auto;
		width: 380px;
	}
	
	html #dropdown-nav select {
		width: 380px;
	}
		
	html .copyright {
		clear: both;
		text-align: center;
	}
	
	.span12 {
		width: 479px;
	}
	
}

@media (max-width: 320px) {
#responsive-indicator {	background-color: red; }
	
	html #navigation #site-logo {
/* 		padding: 0.5em 1em; */
		margin: 0 auto;
		width: 70%;
	}
	
	html #dropdown-nav {
		display: block;
	}
	
	html #right-all-bg, html #left-all-bg {
/* 		width: 479px; */
		width: 319px;
	}
	
	html .container {
/* 		width: 479px; */
		width: 319px;
	}
	
	html #navigation {
		height: 11.5em;
	}
	
	html #slideshow {
		display:none;
	}
	
	html #navigation .nav {
		display: none;
	}
	
	html #navigation #site-logo {
		float: none;
		padding: 10px 0 20px;
	}
	
	html .row-fluid [class*="span"], html .row-fluid [class*="span"]:first-child {
		float: none;
		margin-left: auto;
	}
	
	html .row-fluid .span4 {
		width: 280px;
		margin: 20px auto;
	}
	
	#navigation #dropdown-nav {
		margin: 0 auto;
		width: 280px;
	}
	
	html #dropdown-nav select {
		width: 280px;
	}
	
	html #footer-copyright ul {
		
	}
	
	html .copyright {
		clear: both;
		text-align: center;
	}
	
	.span12 {
/* 		width: 479px; */
		width: 319px;
	}
	
}

html {
	font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #F1F1F1;
}

/***************************
*********TYPOGRAPHY*********
***************************/

body.home h1, 
body.home h2, 
body.home h3, 
body.home h4, 
body.home h5, 
body.home h6, 
body.home a, 
body.home p, 
body.home li, 
body.home span, 
body.home em {
	font-family: helvetica;
	color: #575757;
	font-weight: normal;
}

body.home strong {
	font-weight: bold;
}


.box-column h2 {
    font-weight: bold;
    font-size: 1.15em;
    text-transform: uppercase;
}

.box-column h2 {
	color: #575757; 
}
	
.box-column h3 {
    font-size: 1.05em;
    font-weight: lighter;
    text-transform: uppercase;
}

.box-column p {
/* 	color: #A43D41; */
	font-weight: lighter;
	font-size: 14px;
	font-size: 0.95rem;
}

#footer h4 {
	color: #E8E8E8;
	font-size: 1.2em;
	padding-top: 30px;
	clear: both;
}

#footer input{
/* 	height:33px; */
	width: 33.33%;
	background-color:#fff;
	border: none;
	border-radius: 2px;
	color: #777;
	font-size: 1em;
	
}

html #payhereTable {
	cellspacing: 5px;
}

#payhereTable th {
	background: transparent;
	border: none;
}

#payhereTable th h3 {
	color: #666666;
	text-decoration: none;
	background-color: #f6f6f6;
	font-size: 18px;
	border: 1px solid #DEDEDE;
	padding-left: 10px;
}

.req { color: red;
}

#footer input[type="text"],
body.make_a_payment input[type="text"],
.box-column input[type="text"],
.getintouch_form input[type="text"] {
/* 	height: 33px; */
	background-color: #FFF;
	color: #AAAAAA;
	font-size: 1em;
	padding: 8px;
	border: 0;
	border-radius: 2px;
	margin: 0 0 14px 0;
}

.getintouch_form textarea {
	max-width: 79%;
	border: none;
}

.about #body .box-column-wrapper {
	margin-bottom: 30px;
	width: 280px;
	margin-left: 30px;
}

.about #body .box-column-wrapper p {
font-size: 13px; 
font-size: 0.8rem;
}

.box-content form {
/* 	position: relative; */
}

.contact .box-content {
	min-height: 200px;
	text-align: left;
}

html .contact #body .box-content p {
	font-family: helvetica, arial, sans serif;
}
	
	
#map_cont {
	border: 7px solid #aaa;
	width: 926px;
}
	
.getintouch_form {
	width: 880px;
	margin: 40px auto 0;
}

.getintouch_form .gray_form_elements {
	color: #4B4B4B;
	text-decoration: none;
	background-color: #f6f6f6;
	display: block;
	font-size: 16px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	position: relative;
	margin-bottom: 15px;
}

.getintouch_form .gray_form_elements h4 {
	text-transform: uppercase;
	font-weight: normal;
	line-height: 2.8em;
}

.box-content form input {
	width: 222px;
}

.box-content form select {
	width: 238px;
	height: 2.5em;
	outline: none;
	border-radius: 2px;
	border: none;
} 

.box-content form .input-mini {
	float: left;
	width: 60px;
}

.box-content form .input-small {
	float: right;
	width: 130px;
}

#footer input[type="text"]
/*, .box-column input[type="text"]  */
{
	width: 100%;
}

#footer-copyright p {
	width: 40%;
	display: inline;
}

#footer-copyright ul {
	margin: 0;
	float: right;	
}

#footer-copyright ul li {
	display: inline;
}

#footer-copyright ul li:after {
 	border-right: 1px solid #E8E8E8;
 	text-decoration: none;
}

#footer-copyright ul li a {
	padding-left: 25px;
	font-weight: bold;
}

#footer-copyright a, #footer-copyright p, #footer-copyright li {
	color: #E8E8E8;
	text-decoration: none;
	font-size: .9em;
}

html .footer-column h3 {
	font-size: 1.3em;
	color: #F4f4f4;
	font-weight: bold;
	padding-right: 20px;
	text-transform: uppercase;
	margin: 0;
}

#news_events h3 {
	padding-bottom: 30px;
}

#news_events .news_story {
	padding: 3px 0 17px;
	border-bottom: 2px solid lightgray;
}

#news_events div:last-child {
	border-bottom: 0;
}

.social_sprites h3 {
	float: left;
	margin: 0;
}

.social_sprites a {
	width: 20px;
	height: 20px;
 	display: inline-block;
 	padding: 0 3px;
	background-position: bottom left;
	background-repeat: no-repeat;
}

.social_sprites a {
	float:left;
	margin-left:5px;
	margin-top: 10px;
	background-repeat: no-repeat;
	background-position: 0 -21px;
	display: block;
	height: 21px;
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		 -o-transition: all 0.2s ease-out;
		-ms-transition: all 0.2s ease-out;
			transition: all 0.2s ease-out;
	width: 20px;
}

#footer p {
	color: #E8E8E8;
	font-size: 1.1em;
	line-height: 1.5em;
	font-family: helvetica;
}

#footer a {
	color: #CFCFCF;
}

#footer a:hover {
	color: #fff;
	text-decoration: none;
}

#gah_footer p {
	text-align: center;
}

#gah_footer a{
	color: #CFCFCF;
}

/***************************
********STRUCTURE***********
***************************/

#all {
	background-color: #FFF;
/* 	max-width: 1280px; */
/* 	min-width: 768px; */
	height: 100%;
	margin: 0 auto; 
	padding: 0;
	text-align: left;
 	position: relative; 
}

#left-all-bg {
	width: 952px;
	background-image: url('../img/bg_left.png');
	background-repeat: repeat-y;
	background-position: left top;
}

#right-all-bg {
	width: 952px;
	background-image: url('../img/bg_right.png');
	background-repeat: repeat-y;
	background-position: right top;
}

#main-content {
/* 	width: 1280px; */
	margin: 0 auto;
}

#header {
	position: fixed;
/* 	height: 90px; */
	z-index: 200;
	margin: 0;
}

body.home #content,
body.aviir #content {
	padding-top: 0;
}

#content {
	padding-top: 76px;
}


/***************************
*********NAVIGATION*********
***************************/

#navigation-wrapper {
	margin: 0;
	padding: 6px 0 0 0;
	background-color: #515151;
}

#navigation {
background: #3c3c3c;
background: -moz-linear-gradient(top,  #3c3c3c 53%, #222222 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(53%,#3c3c3c), color-stop(100%,#222222));
background: -webkit-linear-gradient(top,  #3c3c3c 53%,#222222 100%);
background: -o-linear-gradient(top,  #3c3c3c 53%,#222222 100%);
background: -ms-linear-gradient(top,  #3c3c3c 53%,#222222 100%);
background: linear-gradient(to bottom,  #3c3c3c 53%,#222222 100%);
	width: 100%;'
	padding: 0;
	height: 5em;
}

#navigation #site-logo {
	padding: 0.5em 3em;
	width: 18%;
	float: left;
}

#dropdown-nav {
	display: none;
}

.nav .dropdown-toggle {
	background-image: url('../img/navigation_line.png');
	background-repeat: no-repeat;
	background-position: 0% 47%;
}

#navigation ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: right;
	display: inline;
	min-width: 80px;
	font-size: 95%;
}

#navigation ul li {
	float: left;
}

#navigation ul li a {
	padding: 0 25px 0 0;
	line-height: 7.7em;
	height: 70px;
	margin:0;
	display: block;
	text-decoration: none;
	font-size: 1em;
	text-transform: uppercase;
}

#navigation ul li a span {
	padding-left: 25px;
	display: block;
	width: 100%;
	height: 100%;
	color: #E8E8E8;
}

#navigation ul li a:hover span,
#navigation ul li a span.active {
	background-color: #484848;
	color: #AFAFAF;
}

#navigation ul li a:hover{
	box-shadow: 0px 9px 12px -5px rgb(133, 133, 133);
/* 	box-shadow: 0px 9px 12px -5px rgba(133, 133, 133, 0.8); */
}

/***Top Orange "Shadow"***/
#navigation .dropdown-menu {
	overflow-x: hidden;
	border-top: 3px solid rgb(183, 132, 111);
/* 	-webkit-box-shadow: 0px -2px 0px rgb(183, 132, 111); */
/* 	-moz-box-shadow:    0px -2px 0px rgb(183, 132, 111); */
/* 	box-shadow:         0px -2px 0px rgb(183, 132, 111); */
	border-radius: 0;
	z-index: 102;
}

#navigation .dropdown-menu li {
	width: 100%;
}

html #navigation .dropdown-menu li a:hover {
	box-shadow: 0 0 0 transparent;
	width: 100%;
}

html .dropdown-menu > li > a:hover {
	background-color: rgb(183, 132, 111);
	background-image: none;
}

/* / */

#navigation ul ul {
/*        width: 100%; */
       background: #fff;
       padding: 5px 0px 12px 0px;
       margin-top: 15px;
/*        z-index: 3; */
}

#navigation ul li:last-child .subnav-wrapper{
	right: 126%;
}

html #navigation ul li:last-child .dropdown-caret {
	left: 133%;
}

.subnav-wrapper {
	position: relative;
/* 	margin-left: -50px; */
/* 	float: right; */
}

.caret-wrapper {
	height: 20px;
	position: absolute;
	width: 100%;
}

/***Top Orange "Shadow" css triangle***/
.dropdown-caret {	
	top: 0;
	left: 25%;
	margin: 0 auto;
	width: 0px;
	height: 0px;
	border-bottom:15px solid rgb(183, 132, 111);
	border-right:30px solid transparent;
	border-left:30px solid transparent;
	position: absolute;
	z-index: 102
}

/***Top White "Shadow" css triangle***/
.dropdown-caret-white {	
	top: 3px;
	border-bottom:15px solid #fff;
	z-index: 103;
}


.subnav-wrapper {
	display: none;
}

#navigation ul li:hover .subnav-wrapper {
	display: block;
}

#navigation .dropdown-menu li a {
	height: 1em;
	line-height: 1em;
	padding: 10px 10px;
	width: 100%;
	overflow-y: hidden;
	font-size: 0.9em;
}

/***************************
************BODY************
***************************/


#content {
	background-color: #fff;
}

/***************
*
*  Slideshow Begin
*
****************/

#slideshow-wrapper {
	position: relative;
/* 	padding: 8px; */
}

#slideshow {
	background-color: #fff;
	width: 100%;
/* 	height: 380px; */
}

.rsActiveSlide {
	z-index: 100;
}

#slideshow img {
/* 	position: absolute; */
/* 	z-index: -2; */
}

/* #slider-with-blocks-1 { */
/*   width: 100%; */
/* } */

/* Background */
.rsMinW,
.rsMinW .rsOverflow,
.rsMinW .rsSlide,
.rsMinW .rsVideoFrameHolder,
.rsMinW .rsThumbs {
/* 	background: #000; */
	color: #FFF;
}

.rsMinW .rsArrow {
	width: 45px;
	height: 63px;
	position: absolute;
	display: block;
	cursor: pointer;
	z-index: 101;
}

.rsMinW .rsArrowRight { 
	right: 17px; top: 40%;
	background: url('../img/slider_arrow.png') transparent no-repeat;
}

.rsMinW .rsArrowLeft { 
	left: 17px; top: 40%;
	background: url('../img/slider_arrow180.png') transparent no-repeat;
}

.blood_draw .rsMinW .rsArrow {
	width: auto;
	height: auto;
	padding: 3px 7px;
	text-align: center;
	background-color: #E5E5E5;
	font-weight: strong;
	color: #777;
}

.blood_draw .rsMinW .rsArrowRight {
	top: inherit;
	right: 150px; bottom: 4%;
	background-image: none;
}

.blood_draw .rsMinW .rsArrowLeft {
	top: inherit;
	left: 150px; bottom: 4%;
	background-image: none;
}

.blood_draw .rsMinW .rsArrowRight:before {
	content: 'NEXT >';
}

.blood_draw .rsMinW .rsArrowLeft:before {
	content: '< PREV';
}

.rsMinW .rsArrowIcn {		
/* 	width: 24px; */
/* 	height: 24px; */
	width: 45px;
	height: 63px;
	
	margin-top: 3px;
	margin-left: 3px;
	position: absolute;
	cursor: pointer;	
	
}

.rsMinW .rsArrowIcn:hover {
}

.rsMinW .rsArrowDisabled .rsArrowIcn { opacity: .3 !important; *display: none; }

.rsMinW .rsBullets {
	position: absolute;
	top: 105%;
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	padding-top: 4px;
	height: auto;
	text-align: center;
	line-height: 6px;
	overflow: hidden;
}

.rsMinW .rsBullet {
	width: 25px;
	height: 22px;
	display: inline-block;
	*display:inline; 
	*zoom:1;
	margin: 0px 0px;
/* 	background-image: url(../img/slider_buttonsprites.png); */
	background-image: url(../img/slider_btn_inactive.png);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
}

.rsMinW .rsBullet span {
	display: block;
	width: 19px;
	height: 19px;
}
.rsMinW .rsBullet.rsNavSelected,
.rsBullet:hover {
/* 	background-position: top left; */
	background-image: url(../img/slider_btn_activehover.png);
}

/***************
*
*  End Slideshow
*
****************/

html .row-fluid .span4 {
/* 	min-width: 200px; */
}

#box-columns {
	width: 90%; 
	margin: 0 auto;
	position: relative;
	margin-top: 60px;
}

.box-header h2 {
	line-height: 30px;
}

.box-column-wrapper {
	position: relative;
	float: left;
}

.linkdiv {
	position:absolute; 
	width:100%;
	height:100%;
	top:0;
	left: 0;
	
	/* edit: added z-index */
	z-index: 1;
}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.rotate180 {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.rotate270 {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

.box-column {
/*  	min-width: 200px; */
	background-color: #F2F2F2;
}

.box-column-inner {
	border: 1px solid #E3E3E3;
	text-align: center;
	border-radius: 3px;
}

.box-image {
/* 	width: 357px; */
/* 	height: 333px; */
	position: relative;
	overflow-y: hidden;
/* 	height: 160px; */
    filter: alpha(opacity=50);
    opacity: 0.5;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opactiy .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.box-image:hover {
/* 	width: 357px; */
/* 	height: 333px; */
	position: relative;
	overflow-y: hidden;
/* 	height: 160px; */
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    -moz-transition: opactiy .25s ease-in-out;
    -ms-transition: opacity .25s ease-in-out;
    -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}

.box-image img {
/* 	float: right; */
}

.box-image div {
	position: absolute;
	width: 100%;
/* 	top: 0; */
}

.box-image div.bottom-shadow {
	position: absolute;
	width: 100%;
	bottom: 0;
}


.box-column .box-content {
	padding: 0 20px 30px;
	min-height: 70px;
}


.dropshadow {
	float: right;
	position: absolute;
	width: 100%;
}

.psc_locations .dropshadow {
	float: right;
	position: relative;
	width: 100%;
}


/***************************
**********FOOTER***********
***************************/

#footer {
	width: 99.8%;
	background-color: #808080;
	background-image: url('../img/footer_bg.png');
	background-size: 50%;
	border:1px solid #666666;
	position: relative;
}

#footer-wrapper {
	clear: both;
	padding-top: 50px;
}

#footer .footer-column {	
}

.footer-column-wrapper {
	padding: 30px 2% 10px;
	position: relative;
	float: left;
}

.footer_dropshadow {
	padding: 30px 0 10px;
}


#footer_dropshadow_left {
	background-image: url('../img/med_shadow_left.png');
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 10% 100%;
	padding-left: 30px;
}

#footer_dropshadow_right{
 	left: 430px;
 	background-image: url('../img/med_shadow_right.png');
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 10% 100%;
	min-height: 260px;
}



	#footer-copyright-wrapper {
	padding: 10px 25px;
	background-color: #515151;
	clear: both;
}

#footer-copyright {
	width: 100%;
}

.social_icons:hover {
	background-position: top left;
}

#social_twitter { background-image: url('../img/twitter_ico.png'); }
#social_facebook { background-image: url('../img/facebook_ico.png'); }
#social_linkedin { background-image: url('../img/linkedin_ico.png'); }
#social_vimeo { background-image: url('../img/vimeo_ico.png'); }

#guardaheart_logo {
	text-align: center;
	height: 184px;
	width: 100%;
	margin-left: -10px;
}

.copyright{
	font-size: .9em;
	color:#777;
}

/*#guardaheart_logo { -webkit-transition: all .2s ease-in-out; }
#guardaheart_logo:hover { -webkit-transform: scale(1.1);}
*/

#guardaheart_quotes {
	text-align: center;
	position: absolute;
	top: 30%;
	left: 0;
	padding: 20px;
}

#gah_footer {
	margin: 3em 20px 0 0;
	color: #CFCFCF;
}

html #footer .user_input {
	color: #333;
}

#footer input[type="submit"]{
       height:33px;
       width: 33.33%;
       background-color:#e1e1e1;
       border: none;
       border-radius: 2px;
       color: #666;
       font-size: 1em;
       
}

#footer input[type="submit"]:hover{
       height:33px;
       width: 33.33%;
       background-color:#fff;
       border: none;
       border-radius: 2px;
       color: #777;
       font-size: 1em;
       
}

.box-column:hover .box-image {
/*         width: 357px; */
/*         height: 333px; */
       position: relative;
       overflow-y: hidden;
/*        height: 160px; */
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition: opacity .25s ease-in-out;
   -moz-transition: opactiy .25s ease-in-out;
   -ms-transition: opacity .25s ease-in-out;
   -o-transition: opacity .25s ease-in-out;
   transition: opacity .25s ease-in-out;
}


/******************
*Hybrid Adjustments
******************/

/* .blog #body, */
.mirisk_vp_physician_faqs #body,
.mirisk_physician_faqs #body,
.mirisk_patient_faqs #body,
.mirisk_vp_patient_faqs #body {
	width: 880px;
	margin: 120px 40px 0;
}

.investors #body,
.board_members #body {
	width: 880px;
	margin: 85px 40px 0;
}

/* .blood_draw #body .row { */
/* 	margin-left: 25px; */
/* } */

.mirisk_vp_physician_faqs #body .site_title,
.mirisk_physician_faqs #body .site_title {
	display: none;
}


.blog #body {
	margin-top: 120px;
}

.pull-right {
	display: none;
}

.blood_draw #body #header, 
.blog #body #header,
.executives #body #header,
.board_members #body #header,
.investors #body #header {
	position: relative;
	width: 880px;
	margin: 0 0px 20px;
	background-color: transparent;
	background-image: none;
	z-index:0;
}

/* .span12 p, */
/* .executives .exec_description,  */
/* .executives .exec_header, */
.board_members .board_description,
.board_members .exec_header {
	width: 880px;
}

html .investors .investor_header {
	margin-left: -20px;
}

html .investor_header {
	border-top: 0;
	border-left: 0;
	border-right 0;
	margin-top: 10px;
	margin-bottom: 25px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: rgba(133, 133, 133, 0.5);
	box-shadow: 0px 2px 0px rgba(192, 192, 192, 0.5);
}

html .contact_bubble {
	z-index: 0;
	display: none;
}

.blue_white_stripe_header img,
.gray_box img {
	display: none;
}

html .patients.make_a_payment .gray_box {
	padding: 10px;
}

.professionals .gray_box,
.patients .gray_box {
	padding: 10px 0 10px 10px;
	min-height: 160px;
}

html textarea.input-block-level {
	height: 118px;
}

html .form-horizontal .form-actions {
	padding-left: 220px;
	margin-left: -40px;
	width: 694px;
}

.adl .search_box {
	margin-left: 20px;
	margin-top: -10px;
}

.adl.search table tr:nth-child(even) td {
    background-color: #E7E7E7;
}

.header_blue,
.search_box,
.page_title_non_header {
	margin-left: 40px;
	font-weight: normal;
}

html .page_title_non_header {
	font-size: 20px;
}

.psc_locations .page_title_non_header {
	margin-left: 20px;
}

html .blog_news_title,
html .blog_events_title {
	background: none #ddd;
}

.site_title {	
/* 	padding: 35px 0 0 0; */
/* 	margin-left: 45px; */
	padding: 10px 0 15px 0;
	margin-left: 5px;
	font-size: 20px;
}

.search .site_title {
	padding: 30px 0 0px 30px;
	font-size: 21px;
	font-weight: bold;
}

.search .box-column-wrapper {
	margin-bottom: 30px;
}

.search .alpha_list {
	padding: 15px 0 20px 35px;
}

.alpha_list a {
	font-weight: normal; 
	font-size: 18px;
	color: #4B4B4B;
	padding-right: 14px;
}

.adl_search_table .test_row a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.adl_search_table .test_row:hover {
	background-color: #e9e9e9;
}

.adl_search_table .test_row div {
	font-size: 16px;
	color: #666666;
	font-weight: bold;
	display: inline-block;	
}

.adl_search_table .test_row .test_code {
	width: 30%;
}

.adl_search_table .test_row .test_name {
	width: 50%;
}

.adl_search_table .test_row .test_cptcode {
	width: 19%;
}

.blog .site_title {
	margin-left: 35px;
}


.blog_filter {
	margin-left: 50px;
}

html .blog_read_more {
	width: 350px;
}

html .blog_header_title {
	font-size: 15px;
}

.post_box .blog_read_more {
	margin-right: 0;
}

.blood_draw form,
.blood_draw .form-actions {
	margin-bottom: 0;	
}

.blood_draw #footer-wrapper {
	padding-top: 0;
}

.red_header {
	font-size: 20px;
	font-weight: normal;
}

/* html .container { */
/* 	width: 900px; */
/* } */

html .row .span12.page-tabs {
	margin-top: 15px;
}

html .row .span12 {
/*   width: 880px; */
/*   margin: 0 30px 0 70px; */
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.header_bar.pull-right.span9 {
	width: 700px;
	margin: 0;
}

.span9 {
/*   width: 700px; */
  width: 660px; /*630px*/
  margin: 0 0 0 60px;
}

.psc_locations #body .span8 {
	margin-left: 20px;
	position: relative;
}

.psc_locations #body .span8 h3 {
	line-height: 1;
}

.span8 {
/*   width: 620px; */
  width: 550px;
  margin: 0 0 0 50px;
}

.span8.blog_news {
	margin-left: 20px;
}

.span7 {
/*   width: 540px; */
  width: 470px;
  margin: 0 0 0 70px;
  
}

.span6 {
/*   width: 460px; */
	width: 410px;
	margin: 0 20px;
}

.span5 {
  width: 380px;
}

html .contact .row .span4,
html .psc_locations .row .span4 {
  width: 270px;
  margin: 0 0 0 40px;
}


html .span4 {
  width: 320px;
}

.span3 {
  width: 220px;
}

.span3.blog_events {
  width: 240px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}


.tab_caret {
	margin: 0 auto;
	width: 0px;
	height: 0px;
	border-bottom: 15px solid rgba(227, 227, 227, 1);
	border-right: 25px solid transparent;
	border-left: 25px solid transparent;
}

.hidden {
	visibility: hidden;
}

.page-tabs {
	border-bottom: 7px solid #E3E3E3;
	position: relative;
	text-align: center;
}

.page-tabs .pro_page_box_image {
	position: absolute;
	width: 100%;
	top: 65px;
/* 	padding-bottom: 5px; */
}

.page-tabs > .float_left {
	display: inline-table;
	margin: 0;
	float: none;
}

.tabs {
	width: 90%;
	margin: 0 auto;
}

.tabs h1 {
	text-transform: uppercase;
	font-size: 16px;
	padding: 20px 0 40px 0;'
}

.page-tabs h4 {
	display: inline-block; 
	vertical-align: middle;
	text-align: center;
	font-size: 13px;
	color: #9E9E9E;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 1;
	margin: 11px 0;
}

.page-tabs .pro_page_box span {
	display: inline-block; 
	vertical-align: middle; 
	height: 55px;
}

.page-tabs a:hover {
	text-decoration: none;
}

.page-tabs .pro_page_box {
	border: 1px solid #E3E3E3;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom: 0;
	width: 155px;
	margin: 0 2px;
	height: 165px;
	overflow-y: hidden;
}

.page-tabs .pro_page_box.nothumbs {
	height: 61px;
}

.tab-link.at div,
.tab-link:hover div {
/* 	border: 1px dotted black; */
 background-color: #E3E3E3;
}

.tab-link.at,
.tab-link:hover h4 {
	color: #595959;
}


table td h2 {
	position: relative;
	margin: 0 0 6px;
	overflow-y: hidden;
	color: #666666;
	text-decoration: none;
	background-color: #f6f6f6;
	display: block;
	width: 100%;
	font-size: 16px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding: 10px 5px 10px 55px;
	line-height: 20px;
}


/* &&& NEED ACCORDION STYLES &&& */

.accordion table {
	width: 90%;
}

/* .professionals table tr + tr,  */
/* .patients table tr + tr, */
.accordion table tr + tr {
	float: left;
}

.accordion table h4 {
	font-weight: normal;
	font-size: 18px;
	color: #A61E34;
/* 	font-family: 'Quattrocento Sans', sans-serif; */
}

.accordion table h4 strong {
	font-weight: normal;
}

.accordion table tr + tr td {
	padding: 10px 0px 0px 57px;
}

.accordion td h2:hover, .expand {
	text-decoration: none;
	color: #A61E34;
	cursor: pointer;
}

.accordion td h2 span {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 45px;
	height: 100%;
	margin: 0px 15px 0 0;
	padding-top: 10px;
	color: #666666;
	border-right: 1px solid #dedede;
	text-align: center;
}


.accordion .plus:before {
	content: '+';
}

.accordion .minus:before {
	content: '-';
}

.executives #body {
	width: 880px;
	margin: 85px 30px 0;
}

html .element_description {
	min-height: inherit;
}

.investors .element_content {
	margin: 0 24px;
}

html .element_content {
	color: #4B4B4B;
	text-decoration: none;
	background-color: #f6f6f6;
	display: block;
	font-size: 16px;
	border: 1px solid #DEDEDE;
	border-radius: 5px;
	padding-bottom: 10px;
	padding-right: 25px;
	padding-left: 25px;
	position: relative;
}

html .executives .element_content,
html .board_members .element_content,
html .investors .element_content {
	border-radius: 0px;
}

.investors p {
	margin-left: 5px;
}

html .element_content h4 {
	font-size: 14px;
}

html .element_content p {
	font-size: 12px;
}

html .element_description {
	margin-bottom: 10px;
}

.investor_image_wrapper {
	float: left;
}

.investor_image_wrapper a {
	display: block;
	width: 360px;
	line-height: 150px;
}

.investor_image {
	vertical-align: middle;
}

.element_content .investor_text p {
	font-size: 14px;
	text-align: justify;
}

.gray-button-wrap {
	float: right;
	border-top: 1px solid rgb(207, 207, 207);
	border-radius: 6px;
	display: inline-block;
}

html .gray-button {
	font-weight: bold;
	font-size: 14px;
	font-family: Helvetica;
	padding: 3px 25px;
	border-radius: 5px;
	width: inherit;
	box-shadow: 0px 3px 0px -1px #BBBBBB;
	border-top: 1px solid #FDFDFD;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom: 0; 
}

html .gray-button:hover {
	color: #676767;
}

.investor_text {
	float: right;
	width: 400px;
}

.investor_text .gray-button {
	float: right;
}

.blood_draw form#blood_draw {
/* 	background-color: #e3e3e3; &&& Temporary Adjustment */
	background-color: #e3e3e3;
}

.blood_draw .form-horizontal .controls {
/* 	margin: 0 auto; &&& Temporary Adjustment */
	margin: 0 auto;
	width: 50%;
}

.blood_draw .control-group {
	width: 415px;
}

.blood_draw .controls input[type="text"] {
	/* &&& Temporary Adjustment
	background-color: #FFF;
	color: #AAAAAA;
	font-size: 1em;
	padding: 12px;
	border: 0;
	border-radius: 2px; */
	background-color: #FFF;
	color: #AAAAAA;
	font-size: 1em;
	padding: 12px;
	border: 0;
	border-radius: 2px;
}

.blood_draw .blood_draw_wrap {
	/* &&& Temporary Adjustment 
	margin-top: 3px;
	position: relative;
	background-color: #e3e3e3;
	width: 470px;
	*/
	margin-top: 3px;
	position: relative;
	background-color: #e3e3e3;
	width: 470px;
}

.blood_draw .form-tab-content {
	display: block;
}

.blood_draw fieldset {
	/* &&& Temporary Adjustment
	background-color: #F0F0F0;
	position: absolute;
	padding: 20px 12px 5px;
	min-height: 512px;
	color: #777;
	*/
	background-color: #F0F0F0;
	position: absolute;
	padding: 20px 12px 5px;
	min-height: 512px;
	color: #777;
}

#ui-datepicker-div {
	border: 2px solid red;
}

.blood_draw fieldset h3 {
	color: #A41F34;
}

html .blood_draw .form-actions {
	padding-left: 226px;
	margin-left: 0;
	width: 694px;
}

#blood-draw .form-tab-content {
	/* &&& Temporary Adjustment
	position: relative;
	background-color: #e3e3e3;
	padding: 15px;
	min-height: 600px;
	overflow-x: hidden;
	*/
	position: relative;
	background-color: #e3e3e3;
	padding: 15px;
	min-height: 600px;
	overflow-x: hidden;
}

#body .tab-link-wrapper p {
	width: 24.6%;
	text-align: center;
	display: inline-block;
	background-color: #eee;
	font-family: helvetica, arial, sans serif;
	margin-bottom: 0;
}

.tab-links {
	display: inline-block;
	padding: 12px 0;
	width: 100%;
	color: rgb(206, 206, 206);
}

.tab-links:hover {
	text-decoration: none;
	color: rgb(190, 140, 140);
}

.tab-links:hover .circle {
	background-color: rgb(190, 140, 140);
}

.tab-links.at {
	color: #A41F34;
}
.tab-links.at .circle,
h3 .circle {
	background-color: #A41F34;
}

.circle {
	background: rgb(206, 206, 206);
	color: #fff;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 24px;
	height: 24px;
	line-height: 24px;
	margin-right: 10px;
	margin-bottom: -5px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
}

.blood_draw_info {
	width: 420px;
	float: right;
	margin-right: 20px;
	margin-top: 40px;
	position: absolute;
	right: 0;
	z-index: 30;
}

 #body .rsArrowDisabled {
    color: #c9c9c9;
}


.blog .blog_news {
	background-color: #fff;
	border: 1px solid #e8e8e8;
	position: relative;	
}

.blog .blog_events {
	background-color: #f2f2f2;
	border: 1px solid #e8e8e8;
	position: relative;
}

.blog .blog_news h2,
.blog .blog_events h2 {
	text-align: center;
	font-size: 18px;
	color: #575757;
	line-height: 30px;
}

.blog .blog_news .dropshadow img,
.blog .blog_events .dropshadow img {
	width: 100%;
	opacity: 0.5;
}

.date_indicator {
	position: absolute;
	width: 70px;
	height: 40px;
/* 	border: 1px solid;	 */
	top: 50%;
	margin-top: -20px;
	margin-left: -130px;
	background-color: #dfdfdf;
}

.date_indicator span {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 10px solid #dfdfdf;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	margin-top: 10px;
	right: 0;
	margin-right: -10px;
}

.date_indicator p {
	padding: 0px 15px;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	margin-bottom: 0;
}

.date_indicator p + p {
	font-weight: bold;
	font-size: 1.9em;
	margin-top: -2px;
}

.blog .dropshadow {	
/* 	z-index: 50; */
/* 	margin-top: -10px; */
}
html .blog_header_title h3 {
	color: #575757;
	font-weight: bold;
}

.blog_news .post_box:hover {
	background-color: #efefef;
	-webkit-transition: all 0.2s ease-in-out;
}

.blog_events .post_box:hover {
	background-color: #eaeaea;
	-webkit-transition: all 0.2s ease-in-out;
}

.post_box {
/* 	border-top: 1px solid #fcfcfc; */
	border-bottom: 1px solid #fcfcfc;
}

.blog_events .post_box {
	border-bottom: 1px solid #f5f5f5;
}

.blog_header_title {
	line-height: 1em;
	margin: 2px 0;
}

.blog.post .blog_header_title {
	font-size: 16px; 
	padding-bottom: 10px;
	color: #575757;
	font-weight: bold;
}

#query_form {
	text-align: center;
}

